{
  "database": {
    "postgres": {
      "username": "ci",
      "password": "password",
      "database": "ci",
      "hostname": "database-server",
      "port": 5432
    },
    "redis": {
      "hostname": "hostname",
      "port": 6379
    }
  },
  "platform": "x86_64",
  "webserver": {
    "port": 8080
  }

}
